# 0.0. Intruducao

## 0.1. Bibliotecas

In [12]:
import numpy          as np
import pandas         as pd
import streamlit      as st
import plotly.express as px

import warnings

st.set_page_config( layout= 'wide' )
pd.set_option('display.float_format', lambda x: '%.2f' % x)
pd.options.display.max_columns = None
warnings.filterwarnings( 'ignore' )

## 0.2. Funcoes auxiliares

## 0.3. Carregamento dos dados

In [4]:
df1 = pd.read_csv( 'house_rocket.csv')

# 1.0 Descrição dos Dados

## 1.1. Dinmensao dos dados

In [16]:
print('Número de linhas: {}.'.format( df1.shape[0] ) )
print('Número de colunas: {}.'.format( df1.shape[1] ) )

Número de linhas: 21613.
Número de colunas: 21.

## 1.2.Tipos de dados

In [18]:
df1['date'] = pd.to_datetime(df1['date'])
df1.dtypes

id                        int64
date             datetime64[ns]
price                   float64
bedrooms                  int64
bathrooms               float64
sqft_living               int64
sqft_lot                  int64
floors                  float64
waterfront                int64
view                      int64
condition                 int64
grade                     int64
sqft_above                int64
sqft_basement             int64
yr_built                  int64
yr_renovated              int64
zipcode                   int64
lat                     float64
long                    float64
sqft_living15             int64
sqft_lot15                int64
dtype: object

## 1.3. Check NA

In [19]:
df1.isna().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

## 1.4. Mudanca tipos de dados

In [26]:
df1['bathrooms'] = round( df1['bathrooms'] ).astype( 'int64' )

## 1.5. Estatística descritiva

### 1.5.1. Atributos numericos

### 1.5.2. Atributos categoricos